[submodule "themes/hugo-kiera-varun"]
	path = themes/hugo-kiera-varun
	url = https://github.com/varunm22/hugo-kiera.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
